<div class="reportes-container">
  <h2 class="titulo">📋 Reportes</h2>

 
  <div *ngFor="let reporte of reportes" class="reporte-card">
    <div class="estado-indicador" [ngClass]="getEstadoClass(reporte.estadoActual)"></div>

    <div class="reporte-info">
      <p><strong>Título:</strong> {{ reporte.titulo }}</p>
      <p><strong>Categoría:</strong> {{ reporte.categoria }}</p>
      <p><strong>No. imágenes:</strong> {{ reporte.imagenes?.length }} archivos adjuntos</p>
      <p><strong>¿Resuelto?:</strong> {{ reporte.estadoActual === 'RESUELTO' ? 'Sí' : 'No' }}</p>
      <p><strong>Ubicación:</strong> Lat: {{ reporte.ubicacion?.latitud }}, Lng: {{ reporte.ubicacion?.longitud }}</p>
    </div>

    <div class="reporte-acciones">
      <a [routerLink]="['/detalle-reporte', reporte.id]" class="btn-detalles">Ver detalles >></a>
    </div>
  </div>
</div>
