<div class="form-wrapper">
  <h2 class="titulo">✏️ Editar categoría</h2>

  <form [formGroup]="categoriaForm" (ngSubmit)="actualizarCategoria()" class="categoria-form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" placeholder="Ej: Basuras, Seguridad..." />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion" placeholder="Breve descripción de la categoría..."></textarea>
    </div>

    <button type="submit" class="btn-crear">Guardar cambios</button>
  </form>
</div>
