.card {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

h4, h5, h6 {
  color: #333;
}

p {
  font-size: 15px;
  color: #555;
}

a {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.btn-like, .btn-dislike {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background: none;
}
