<div class="container mt-5" style="max-width: 500px">
  <h4 class="mb-4">🔒 Cambiar contraseña</h4>

  <div class="mb-3">
    <label>Contraseña actual:</label>
    <input type="password" [(ngModel)]="formCambioClave.actual" class="form-control" />
  </div>

  <div class="mb-3">
    <label>Nueva contraseña:</label>
    <input type="password" [(ngModel)]="formCambioClave.nueva" class="form-control" />
  </div>

  <div class="mb-3">
    <label>Repetir nueva contraseña:</label>
    <input type="password" [(ngModel)]="formCambioClave.repetida" class="form-control" />
  </div>

  <div *ngIf="errorCambioClave" class="alert alert-danger">{{ errorCambioClave }}</div>
  <div *ngIf="exitoCambioClave" class="alert alert-success">{{ exitoCambioClave }}</div>

  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary" (click)="cambiarContrasena()">Guardar cambios</button>
    <button class="btn btn-secondary" routerLink="[/perfil']">Cancelar</button>
  </div>
</div>
